@import "tailwindcss";

@layer base {
	:root {
		--font-sans:
			"GitLab Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
			"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--font-mono:
			"DM Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace;
	}

	@font-face {
		font-family: "GitLab Sans";
		font-style: normal;
		font-weight: 100 1000;
		font-display: swap;
		src: url(/fonts/gitlab-sans.woff2) format("woff2");
	}

	@font-face {
		font-family: "DM Mono";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/dm-mono-400.woff2) format("woff2");
		unicode-range:
			U+0000-00FF,
			U+0131,
			U+0152-0153,
			U+02BB-02BC,
			U+02C6,
			U+02DA,
			U+02DC,
			U+0304,
			U+0308,
			U+0329,
			U+2000-206F,
			U+2074,
			U+20AC,
			U+2122,
			U+2191,
			U+2193,
			U+2212,
			U+2215,
			U+FEFF,
			U+FFFD;
	}

	@font-face {
		font-family: "DM Mono";
		font-style: normal;
		font-weight: 500 800;
		font-display: swap;
		src: url(/fonts/dm-mono-500.woff2) format("woff2");
		unicode-range:
			U+0000-00FF,
			U+0131,
			U+0152-0153,
			U+02BB-02BC,
			U+02C6,
			U+02DA,
			U+02DC,
			U+0304,
			U+0308,
			U+0329,
			U+2000-206F,
			U+2074,
			U+20AC,
			U+2122,
			U+2191,
			U+2193,
			U+2212,
			U+2215,
			U+FEFF,
			U+FFFD;
	}
}

@layer utilities {
	.grid-rows-a1a {
		grid-template-rows: auto 1fr auto;
	}

	.grid-cols-default {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.bg-pos-85-100 {
		background-position: 85% 100%;
	}

	img.landscape {
		grid-column: span 2;
	}

	.bg-instagram {
		background-image: linear-gradient(
			45deg,
			#f09433 0%,
			#e6683c 25%,
			#dc2743 50%,
			#cc2366 75%,
			#bc1888 100%
		);
	}
}
