button,
a[role="button"] {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;

	font-size: 0.9em;
	font-weight: normal;

	color: white;
	background-color: black;

	padding: 0.4em 0.6em;
	border: 1px solid black;
	border-radius: var(--radius);
	margin: 0;

	transition: 200ms color, 200ms background-color;
}

button.inverse,
a[role="button"].inverse {
	color: inherit;
	background-color: transparent;
}

button.inverse:hover:not(:disabled),
a[role="button"].inverse:hover:not(:disabled) {
	color: white;
	background-color: black;
}

button:hover:not(:disabled),
a[role="button"]:hover:not(:disabled) {
	color: black;
	background-color: transparent;
}

button:disabled,
a[role="button"]:disabled {
	cursor: not-allowed;
	border-color: rgb(var(--gray-rgb));
	background-color: rgb(var(--gray-rgb));
}

button[type="reset"] {
	color: white !important;
	background-color: red !important;
	border-color: red !important;
}

a[role="button"] {
	text-decoration: none !important;
}

@media screen and (prefers-color-scheme: dark) {

	button,
	a[role="button"] {
		color: black;
		background-color: white;
		border-color: white;
	}

	button:hover:not(:disabled),
	a[role="button"]:hover:not(:disabled) {
		color: white;
	}


	button.inverse:hover:not(:disabled),
	a[role="button"].inverse:hover:not(:disabled) {
		color: black;
		background-color: white;
	}
}
